@using Galeri.ViewModel.Picture
@model IEnumerable<CategoryViewModel>
<body style="background-color:#191919 ; color:darkred ">
<div class="row">
    <div class="col">
        <h1>İlan Listesi</h1>
        <a class="btn btn-success" asp-controller="Category" asp-action="Create">Yeni</a>
        <a class="btn btn-warning" asp-controller="Account" asp-action="Index">Anasayfa</a>
        <hr />
            <table class="table" style="background-color:#191919 ; color:darkred ">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Açıklaması</th>                
                    <th>Yıl</th>
                    <th>Fotoğraf</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody id="category-list" >
                @foreach (CategoryViewModel item in Model)
                {
                    <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Yil</td>
                            <td>
                                @{
                                    List<ImageViewModel> imageList = ViewBag.ImageList as List<ImageViewModel>;
                                    var imagesForItem = imageList.Where(i => i.CategoryId == item.Id).ToList();
                                    var carouselId = "carousel" + item.Id; // Benzersiz ID oluştur
                                }

                                <div id="@carouselId" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        @{
                                            bool isActive = true; // İlk öğe için active sınıfı eklemek için bir bayrak
                                            foreach (var image in imagesForItem)
                                            {
                                                <div class="carousel-item @(isActive ? "active" : "")">
                                                    <img src="~/images/@image.ImageName" class="d-block w-80 img-thumbnail" alt="@image.ImageName" style="width:90px;height:80px" />
                                                </div>
                                                isActive = false; // Sadece ilk resme active sınıfı verilecek
                                            }
                                        }
                                    </div>
                                   
                                </div>
                            </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                            <a class="btn btn-secondary" asp-controller="Category" asp-action="Details" asp-route-id="@item.Id">Detay</a>
                            <a class="btn btn-danger"
                               id="remove-link-@item.Id"
                               data-url="@Url.ActionLink("Delete", "Category", new { id = item.Id })"
                               data-bs-toggle="modal"
                               data-bs-target="#removeConfirm-@item.Id">Sil</a>

                            <!-- Modal -->
                            <div class="modal fade" id="removeConfirm-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">İlan Silme</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>@item.Name</strong> kategorisini silmek istediğinizden emin misiniz?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Geri</button>
                                            <button type="button" class="btn btn-danger" onclick="DeleteItem(@item.Id)">Evet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Adı</th>
                    <th>Açıklaması</th>
                    <th>Yıl</th>
                    <th>Fotoğraf</th>
                    <th>İşlem</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
@section Scripts {
    <script type="text/javascript" src="~/js/Category/index.js"></script>
}