@using Galeri.ViewModel.Slider
@using Galeri.ViewModel.Yakinda
@using System.Linq
@model IEnumerable<CategoryViewModel>

@{
    
    ViewBag.Title = "Anasayfa";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Diğer <head> içeriğiniz -->
    <link href="~/slidercss/css.css" rel="stylesheet">
</head>
<body class="body" style="background-color:#191919;">


                @* slider başla *@
                <div id="carouselExampleCaptions" class="carousel slide" style="padding-left:400px;padding-right:400px;">
                    
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      
                    </div>
                    <div class="carousel-inner">
                        @foreach (SliderViewModel item in ViewBag.List)
                        {
                      <div class="carousel-item @(item == (ViewBag.List as List<SliderViewModel>)?.First() ? "active" : "")">
                    <img src="https://localhost:7280/uploads/@(item.SliderImageName)" class="d-block w-100" alt="..." style="border:5px solid darkred;border-radius:20px;">
                                <div class="carousel-caption-bottom">
                                    <h5 style="color:white">@item.Sliderad</h5>
                                    <p>@item.SliderAciklama</p>
                                </div>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Geri</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">İleri</span>
                    </button>
                </div>
  
                <br />
                <br />
                <br />
    @* slider bitiş *@

        @* yakında kısmı başlangıç*@
  
        <div class="body" style="background-color:#191919; padding: 20px;">
            <h1 class="hero-text">Çok Yakında!</h1>
            <div class="container">
                <div class="row">
                    @foreach (YakindaViewModel item in ViewBag.Yakinda)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                            <img src="https://localhost:7280/uploads/@(item.YakindaImageName)" class="d-block w-100" alt="..." style="border:5px solid darkred;border-radius:20px;">
                                <div class="card-body">
                                    <h2>@item.YakindaAd</h2>
                                   <h5>@item.YakindaAciklama</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

           
           

            @* yakında kısmı bitiş *@

            @* burdan sonra hizmetler *@
        <div class="row grid">
            <div class="filters-content">
            <section class="ftco-section" style="color:#191919;border:4px solid darkred">
                <div class="container" style="border:4px solid darkred;background-color:lightgray;border-radius:80px">
                    <div class="row justify-content-center mb-5">
                        <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">

                            <h1 class="mb-3" style="color:darkred">Hizmetlerimiz</h1>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center" style="background-color:darkred"><span class="flaticon-wedding-car"></span></div>
                                <div class="text w-100">
                                    <h2 class="heading mb-2" style="color:darkred">Araç Almak İstiyorum !</h2>
                                    <p>En kısa zamanda showroom'umuza Pazartesiden Cumartesiye 09.00-18.00 Arası Bekliyoruz</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center" style="background-color:darkred"><span class="flaticon-transportation"></span></div>
                                <div class="text w-100">
                                    <h2 class="heading mb-2" style="color:darkred">Aracımı Satmak İstiyorum</h2>
                                    <p>Aracınızı değerinde satın alır, ödemesini anında peşin olarak yaparız.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center" style="background-color:darkred"><span class="flaticon-car"></span></div>
                                <div class="text w-100">
                                    <h2 class="" style="color:darkred">Konsinye Hizmeti</h2>
                                    <p>Aracınızı getirin sizin için tüm işlemleri yapalım ve Ceylan Motors Showroom’unda sergileyelim.Müşteri portföyümüzle aracınızı mümkün olan en kısa sürede satalım.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="services services-2 w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center" style="background-color:darkred"><span class="flaticon-transportation"></span></div>
                                <div class="text w-100">
                                    <h2 class="heading mb-2" style="color:darkred">Aradığım Aracı Bulamıyorum </h2>
                                    <p>Aradığınız aracı sizin adınıza arar, en uygun koşullarda beğeninize sunarız.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>



</body>

