@using Galeri.ViewModel.Yakinda
@model YakindaViewModel
@{
}
<body style="background-color:#191919 ; color:darkred ">
    <div class="card">
        <h2>Yakında Detay Listesi</h2>
        <h5 class="card-header">@Model.Id Numaralı Kayıt</h5>
        <div class="card-body" style="background-color:#191919 ; color:darkred ">

            <p class="card-text">Marka : @Model.YakindaAd</p>
            <p class="card-text">Model : @Model.YakindaBaslik</p>
            <p class="card-text">Paket : @Model.YakindaAciklama</p>
            <p class="card-text">Paket : @Model.YakindaImageName</p>
            

            <a asp-controller="Yakinda" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Düzenle</a>
            <a asp-controller="Yakinda" asp-action="Index" class="btn btn-primary">Geri</a>
            <a asp-controller="Account" asp-action="Index" class="btn btn-primary">Anasayfa</a>

        </div>
    </div>
</body>